/* 

.callsheet-table {
    font-family: verdana, monospace;
    border-collapse: collapse;
    width: 100%;
}

.callsheet-th {
    background-color: #b8b8b8;
    text-align: center;
    font-size: 1.2em;
}

.callsheet-td, .callsheet-th {
    border: 1px solid black;
    text-align: center;
    padding: 2px;
}

.callsheet-td {
    font-weight: normal;
}

.callsheet-tr:nth-child(even) {
    background-color: #c4c4c4;
}

.callsheet-th:nth-child(1), .callsheet-checklist-th:nth-child(1) {
    width: 2%;
}
.callsheet-th:nth-child(2), .callsheet-th:nth-child(4) {
    width: 15%;
}
.callsheet-th:nth-child(5) {
    width: 20%;
}
*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 16px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00C828;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00C828;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}